body {
  background-image: url('/background.jpeg');
}
.h1 {
  text-align: center;
  margin: 50px;
}
#error-message {
  color: red;
}
.form-box-login {
  background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin: 20px 20px 20px 20px;
}
.input-password {
    display: flex;
    align-items: center;
}
.input-email {
    margin-left: 31px;
    display: flex;
    align-items: center;
}
#email {
  margin-left: 5px;
  margin-top: 20px;
  padding: 7px;
  border-radius: 10px;
}
#password {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 10px;
}
.email-label, .password-label {
  margin-top: 10px;
}
#submit-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 20px;
  color: white;
  background-color: #2879E3;
  display: block;
  margin: auto;
}
.bottom-link {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: bold;
}
